.shardContainer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(31, 33, 53);
  padding: 1rem;
}

label {
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

input[type="radio" i] {
  margin-right: 0.5rem;
}

.shardImage {
  display: block;
  width: 48px;
  height: 48px;
}
