.shardContainer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(31, 33, 53);
  padding: 1rem;
}

label {
  font-size: 0.9rem;
  font-weight: 600;
}

input[type="radio" i] {
  margin-right: 1rem;
}
