.btnTransmute {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(66, 58, 169);
  border: 3px solid rgb(66, 58, 169);
  padding: 1rem;
  color: #fff;
  font-weight: 600;

  cursor: pointer;
}

.btnTransmute:hover {
  color: #fff;
  border: 3px solid rgb(78, 68, 206);
  background-color: rgb(78, 68, 206);
  box-shadow: 5px 5px 20px #010203;
}
